Repository JacobPEvans/kubernetes-monitoring: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubeconform, no-real-ips

Path conditions:
  kustomize-build: any of: ^k8s/base/.*\.yaml$
  kubeconform: any of: ^k8s/base/.*\.yaml$
  no-real-ips: any of: \.(yaml|sh)$

fix: address code review findings
  .pre-commit-config.yaml
  Makefile
  scripts/deploy.sh
  secrets.enc.yaml.example
  tests/test_pipeline.py
Due: no-real-ips

fix: address PR review feedback from automated reviewers
  .cspell.json
  .github/workflows/validate.yml
  Makefile
  docs/DEPLOYMENT.md
  pyproject.toml
  tests/conftest.py
  tests/test_forwarding.py
  tests/test_pipeline.py
Due: none

chore: remove stream-managed, fix AI jobs, add OTEL test framework (#18)
  .cspell.json
  .github/workflows/validate.yml
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  Makefile
  README.md
  docker/gemini-cli/Dockerfile
  docs/DEPLOYMENT.md
  docs/TROUBLESHOOTING.md
  k8s/base/ai-jobs/claude-code-job.yaml
  k8s/base/ai-jobs/gemini-cli-job.yaml
  k8s/base/cribl-stream-managed/kustomization.yaml
  k8s/base/cribl-stream-managed/service.yaml
  k8s/base/cribl-stream-managed/statefulset.yaml
  k8s/base/kustomization.yaml
  pyproject.toml
  scripts/deploy.sh
  secrets.enc.yaml.example
  tests/conftest.py
  tests/requirements.txt
  tests/test_forwarding.py
  tests/test_pipeline.py
  tests/test_smoke.py
Due: kustomize-build, kubeconform, no-real-ips

chore: add release-please for automated releases
  .github/workflows/release-please.yml
  .release-please-manifest.json
  VERSION
  release-please-config.json
Due: none

fix: add build/style hidden changelog types, explicit config/manifest refs
  .github/workflows/release-please.yml
  release-please-config.json
Due: none

chore: add release-please for automated releases (#9)
  .github/workflows/release-please.yml
  .release-please-manifest.json
  VERSION
  release-please-config.json
Due: none

fix: use host.orb.internal for Splunk HEC and refactor Cribl config
  .cspell.json
  Makefile
  k8s/base/cribl-edge-standalone/configmap-cribl-config.yaml
  k8s/base/cribl-edge-standalone/statefulset.yaml
  k8s/base/cribl-stream-standalone/configmap-cribl-config.yaml
  k8s/base/cribl-stream-standalone/kustomization.yaml
  k8s/base/cribl-stream-standalone/service.yaml
  k8s/base/cribl-stream-standalone/statefulset.yaml
  k8s/base/otel-collector/configmap.yaml
  k8s/base/otel-collector/statefulset.yaml
  scripts/deploy.sh
  scripts/generate-overlay.sh
  tests/test_smoke.py
Due: kustomize-build, kubeconform, no-real-ips

fix: address PR #20 review feedback
  Makefile
  k8s/base/cribl-edge-standalone/statefulset.yaml
  k8s/base/cribl-stream-standalone/statefulset.yaml
  k8s/base/otel-collector/configmap.yaml
  scripts/deploy.sh
  tests/requirements.txt
  tests/test_smoke.py
Due: kustomize-build, kubeconform, no-real-ips

ci: add yamllint config with 160-char limit and drop relaxed preset
  .github/workflows/validate.yml
  .yamllint.yml
Due: none

ci: add yamllint pre-commit hook and fix line-length violations
  .github/workflows/validate.yml
  .pre-commit-config.yaml
  .yamllint.yml
  k8s/base/cribl-stream-standalone/statefulset.yaml
Due: kustomize-build, kubeconform, no-real-ips

fix: use host.orb.internal for Splunk HEC and refactor Cribl config (#20)
  .cspell.json
  .github/workflows/validate.yml
  .pre-commit-config.yaml
  .yamllint.yml
  Makefile
  k8s/base/cribl-edge-standalone/configmap-cribl-config.yaml
  k8s/base/cribl-edge-standalone/statefulset.yaml
  k8s/base/cribl-stream-standalone/configmap-cribl-config.yaml
  k8s/base/cribl-stream-standalone/kustomization.yaml
  k8s/base/cribl-stream-standalone/service.yaml
  k8s/base/cribl-stream-standalone/statefulset.yaml
  k8s/base/otel-collector/configmap.yaml
  k8s/base/otel-collector/statefulset.yaml
  scripts/deploy.sh
  scripts/generate-overlay.sh
  tests/requirements.txt
  tests/test_smoke.py
Due: kustomize-build, kubeconform, no-real-ips

feat: add Hammerspoon power management script
  .cspell.json
  cspell.config.yaml
  scripts/hammerspoon-power.lua
Due: no-real-ips

chore: remove mistakenly committed cspell.config.yaml
  cspell.config.yaml
Due: no-real-ips

fix: restore cspell.json with original vocabulary
  .cspell.json
Due: none

feat: add architecture diagram, fix tests, fix Cribl Stream mode
  CLAUDE.md
  Makefile
  docs/ARCHITECTURE.md
  k8s/base/cribl-stream-standalone/statefulset.yaml
  k8s/base/otel-collector/configmap.yaml
  tests/test_forwarding.py
  tests/test_smoke.py
Due: kustomize-build, kubeconform, no-real-ips

refactor: address PR review feedback - DRY and naming improvements
  Makefile
  tests/conftest.py
  tests/test_forwarding.py
  tests/test_smoke.py
Due: none

fix: address Copilot review feedback on test_forwarding.py
  tests/test_forwarding.py
Due: none

feat: architecture diagram, test overhaul, fix Cribl Stream data path (#22)
  CLAUDE.md
  Makefile
  docs/ARCHITECTURE.md
  k8s/base/cribl-stream-standalone/statefulset.yaml
  k8s/base/otel-collector/configmap.yaml
  tests/conftest.py
  tests/test_forwarding.py
  tests/test_smoke.py
Due: kustomize-build, kubeconform, no-real-ips

fix: address PR review feedback on hammerspoon-power.lua
  scripts/hammerspoon-power.lua
Due: none

refactor: simplify hammerspoon-power.lua for clarity
  scripts/hammerspoon-power.lua
Due: none

feat: add Hammerspoon power management script (#21)
  .cspell.json
  scripts/hammerspoon-power.lua
Due: none

chore: allow renovate/ branch names in commit-check config
  .commit-check.yaml
Due: no-real-ips

chore: configure commit-check to allow renovate branches
  .commit-check.yaml
  cchk.toml
Due: no-real-ips

fix: use direct IP for Splunk HEC and add granular forwarding tests
  docs/ARCHITECTURE.md
  scripts/deploy.sh
  tests/conftest.py
  tests/test_forwarding.py
Due: no-real-ips

refactor: address Gemini review - batch secret fetch, regex URL match
  tests/conftest.py
  tests/test_forwarding.py
Due: none

refactor: address Copilot review - assert HTTP status, scope outBytes check
  tests/test_forwarding.py
Due: none

fix: use direct IP for Splunk HEC, add granular forwarding tests (#23)
  docs/ARCHITECTURE.md
  scripts/deploy.sh
  tests/conftest.py
  tests/test_forwarding.py
Due: no-real-ips

fix: repo cleanup — leftover issues and code quality gaps
  .cspell.json
  .pre-commit-config.yaml
  Makefile
  docker/gemini-cli/entrypoint.sh
  docs/ARCHITECTURE.md
  k8s/base/kustomization.yaml
  pyproject.toml
  scripts/deploy.sh
  scripts/generate-overlay.sh
  tests/conftest.py
  tests/test_forwarding.py
  tests/test_pipeline.py
  tests/test_smoke.py
Due: kustomize-build, kubeconform, no-real-ips

fix: document ruff py313 constraint in pyproject.toml
  pyproject.toml
Due: none

fix: repo cleanup — leftover issues and code quality gaps (#24)
  .cspell.json
  .pre-commit-config.yaml
  Makefile
  docker/gemini-cli/entrypoint.sh
  docs/ARCHITECTURE.md
  k8s/base/kustomization.yaml
  pyproject.toml
  scripts/deploy.sh
  scripts/generate-overlay.sh
  tests/conftest.py
  tests/test_forwarding.py
  tests/test_pipeline.py
  tests/test_smoke.py
Due: kustomize-build, kubeconform, no-real-ips

feat: release readiness — security hardening, NetworkPolicies, PDBs, and tests (#25)
  .cspell.json
  .github/workflows/validate.yml
  README.md
  docker/claude-code/Dockerfile
  docker/gemini-cli/Dockerfile
  docs/DEPLOYMENT.md
  docs/TROUBLESHOOTING.md
  k8s/base/cribl-edge-managed/kustomization.yaml
  k8s/base/cribl-edge-managed/pdb.yaml
  k8s/base/cribl-edge-managed/statefulset.yaml
  k8s/base/cribl-edge-standalone/configmap-cribl-config.yaml
  k8s/base/cribl-edge-standalone/kustomization.yaml
  k8s/base/cribl-edge-standalone/pdb.yaml
  k8s/base/cribl-edge-standalone/statefulset.yaml
  k8s/base/cribl-stream-standalone/kustomization.yaml
  k8s/base/cribl-stream-standalone/pdb.yaml
  k8s/base/cribl-stream-standalone/statefulset.yaml
  k8s/base/kustomization.yaml
  k8s/base/network-policies/allow-dns.yaml
  k8s/base/network-policies/allow-edge-managed-egress.yaml
  k8s/base/network-policies/allow-edge-standalone-egress.yaml
  k8s/base/network-policies/allow-edge-standalone-ui-ingress.yaml
  k8s/base/network-policies/allow-otel-egress.yaml
  k8s/base/network-policies/allow-otel-ingress.yaml
  k8s/base/network-policies/allow-stream-egress.yaml
  k8s/base/network-policies/allow-stream-ingress.yaml
  k8s/base/network-policies/allow-stream-ui-ingress.yaml
  k8s/base/network-policies/default-deny.yaml
  k8s/base/network-policies/kustomization.yaml
  k8s/base/otel-collector/kustomization.yaml
  k8s/base/otel-collector/pdb.yaml
  k8s/base/otel-collector/statefulset.yaml
  scripts/deploy.sh
  scripts/hammerspoon-power.lua
  tests/conftest.py
  tests/helpers.py
  tests/test_forwarding.py
  tests/test_smoke.py
  tests/test_unit.py
Due: kustomize-build, kubeconform, no-real-ips

feat: renovate trusted-publisher allowlist with Tier 1 + Tier 2 rules
  .cspell.json
  renovate.json
Due: none

fix: correct JacobPEvans/ casing in Renovate Tier 1 rule
  renovate.json
Due: none

fix: add groupName to Tier 2 rule so automerge packages get their own PR
  renovate.json
Due: none

feat: Renovate trusted-publisher allowlist with Tier 1 + Tier 2 rules (#30)
  .cspell.json
  renovate.json
Due: none

fix: set CRIBL_VOLUME_DIR for non-root cribl/cribl:latest image
  k8s/base/cribl-stream-standalone/statefulset.yaml
  tests/test_forwarding.py
Due: kustomize-build, kubeconform, no-real-ips

fix: remove fallback from CRIBL_VOLUME_DIR refs, use env var in test
  k8s/base/cribl-stream-standalone/statefulset.yaml
  tests/test_forwarding.py
Due: kustomize-build, kubeconform, no-real-ips

test: add Claude Code log pipeline tests (arrow A2) + fix CRIBL_VOLUME_DIR path
  docs/ARCHITECTURE.md
  tests/test_forwarding.py
Due: none

fix: set CRIBL_VOLUME_DIR for non-root cribl/cribl:latest image (#31)
  k8s/base/cribl-stream-standalone/statefulset.yaml
  tests/test_forwarding.py
Due: kustomize-build, kubeconform, no-real-ips

fix: restore edge log pipeline — CRIBL_VOLUME_DIR + splunk_hec output
  .cspell.json
  docs/ARCHITECTURE.md
  k8s/base/cribl-edge-standalone/configmap-cribl-config.yaml
  k8s/base/cribl-edge-standalone/statefulset.yaml
  k8s/base/cribl-stream-standalone/statefulset.yaml
  tests/test_forwarding.py
Due: kustomize-build, kubeconform, no-real-ips
