Repository JacobPEvans/kubernetes-monitoring: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubeconform, no-real-ips

kustomize-build:
  name: Validate kustomize builds
  entry: bash -c 'kubectl kustomize k8s/base/ > /dev/null'
  language: system
  pass_filenames: false

kubeconform:
  name: Validate Kubernetes schemas
  entry: bash -c 'set -o pipefail; kubectl kustomize k8s/base/ | kubeconform -strict -summary -output text'
  language: system
  pass_filenames: false

no-real-ips:
  name: Check for real IP addresses
  entry: bash -c 'if grep -rE "10\.[0-9]+\.[0-9]+\.[0-9]+" --include="*.yaml" --include="*.sh" k8s/ scripts/ docker/ 2>/dev/null; then echo "FAIL Real IP addresses found in committed files"; exit 1; fi'
  language: system
  pass_filenames: false

fix: remove hardcoded path in pack inputs test, restructure vacuous ConfigMap test
  tests/test_unit.py
Due: none

fix: resolve PR #52 review threads (tier label, DRY helper, flexible path assertion)
  docs/TESTING.md
  tests/conftest.py
  tests/test_forwarding.py
  tests/test_sourcetypes.py
Due: none

refactor: simplify Edge/Stream CRIBL_BEFORE_START_CMD inline scripts
  k8s/base/cribl-edge-standalone/statefulset.yaml
  k8s/base/cribl-stream-standalone/statefulset.yaml
  tests/test_forwarding.py
Due: kustomize-build, kubeconform, no-real-ips

feat: add GitHub Agentic Workflows
  .cspell.json
  .github/workflows/ai-moderator.md
  .github/workflows/ci-doctor.md
  .github/workflows/daily-malicious-code-scan.md
  .github/workflows/sub-issue-closer.md
Due: none

chore: add ai-workflows v0.7.0 reusable workflow callers
  .github/workflows/ci-doctor.md
  .github/workflows/ci-fail-issue.yml
  .github/workflows/ci-fix.yml
  .github/workflows/claude-review.yml
  .github/workflows/final-pr-review.yml
  .github/workflows/issue-auto-resolve.yml
  .github/workflows/post-merge-docs-review.yml
  .github/workflows/post-merge-tests.yml
Due: none

fix: add concurrency groups to prevent duplicate PR creation
  .github/workflows/code-simplifier.yml
  .github/workflows/next-steps.yml
Due: none

fix: correct best-practices permissions and add ref-scoped concurrency
  .github/workflows/best-practices.yml
Due: none

feat: add full AI workflow suite (#60)
  .github/workflows/ai-all.yml
  .github/workflows/ai-ci.yml
  .github/workflows/best-practices.yml
  .github/workflows/code-simplifier.yml
  .github/workflows/issue-auto-resolve.yml
  .github/workflows/issue-hygiene.yml
  .github/workflows/issue-sweeper.yml
  .github/workflows/next-steps.yml
Due: none

ci: migrate to centralized release-please reusable workflow
  .github/workflows/release-please.yml
Due: none

style: fix ruff formatting in test_manifests.py
  tests/test_manifests.py
Due: none

fix: resolve pre-commit failures in test_conftest_utils
  .cspell.json
  tests/test_conftest_utils.py
Due: none

ci: add self-hosted runner e2e workflow and enforce test-unit coverage
  .github/workflows/e2e-tests.yml
  .github/workflows/validate.yml
  .pre-commit-config.yaml
  CLAUDE.md
  Makefile
  docs/TESTING.md
Due: no-real-ips

ci: fix e2e workflow permissions, remove redundant sleep, expand test-all
  .github/workflows/e2e-tests.yml
  Makefile
Due: none

fix: restore test_manifests.py with TestOtelStreamPath and fix broken assertion
  tests/test_manifests.py
Due: none

fix(renovate): exclude aquasecurity from catch-all group rule
  renovate.json
Due: none

fix: restore corrupted test files with correct content
  tests/test_conftest_utils.py
  tests/test_unit.py
Due: none

fix(renovate): migrate aquasecurity rules to shared preset (#73)
  renovate.json
Due: none

ci: enforce E2E on self-hosted runner, fix unit test coverage (#72)
  .cspell.json
  .github/workflows/e2e-tests.yml
  .github/workflows/validate.yml
  .pre-commit-config.yaml
  CLAUDE.md
  Makefile
  docs/TESTING.md
  tests/requirements.txt
  tests/test_manifests.py
Due: no-real-ips

fix: correct gemini pack ID and handle agentic session timeout in E2E test
  k8s/base/cribl-edge-standalone/scripts/install-packs.sh
  tests/test_sourcetypes.py
Due: no-real-ips

fix(tests): update configmap path references to outputs.yml
  tests/test_manifests.py
  tests/test_unit.py
Due: none

fix: guard CMD_3 against missing inputs.yml if CMD_2 failed
  k8s/base/cribl-edge-standalone/statefulset.yaml
Due: kustomize-build, kubeconform, no-real-ips

fix: add probe timeoutSeconds and idempotent pack install check
  k8s/base/cribl-edge-standalone/configmap-cribl-config.yaml
  k8s/base/cribl-edge-standalone/kustomization.yaml
  k8s/base/cribl-edge-standalone/outputs.yml
  k8s/base/cribl-edge-standalone/scripts/install-packs.sh
  k8s/base/cribl-edge-standalone/statefulset.yaml
Due: kustomize-build, kubeconform, no-real-ips

ci: fix doppler keyring auth in headless Linux container
  Makefile
  scripts/deploy-doppler.sh
  secrets.enc.yaml
Due: no-real-ips

fix(docker): pin kubectl version and create runner user before extraction
  docker/actions-runner/Dockerfile
Due: none

fix: align runner-kubeconfig.sh with scripts/ directory conventions
  scripts/runner-kubeconfig.sh
Due: no-real-ips

fix: address PR review — unset token, extract repo var, add runner-stop prereq
  Makefile
Due: none

fix: preserve if guard comment for restore path in ai-all.yml
  .github/workflows/ai-all.yml
Due: none

ci: add self-hosted runner infra with security hardening (#74)
  .cspell.json
  .github/workflows/e2e-tests.yml
  Makefile
  docker/actions-runner/Dockerfile
  docker/actions-runner/entrypoint.sh
  scripts/deploy-doppler.sh
  scripts/deploy.sh
  scripts/generate-overlay.sh
  scripts/runner-kubeconfig.sh
  secrets.enc.yaml
  tests/conftest.py
  tests/test_forwarding.py
  tests/test_sourcetypes.py
Due: no-real-ips

feat: disable automatic triggers on Claude-executing workflows
  .github/workflows/ai-all.yml
  .github/workflows/ai-ci.yml
  .github/workflows/best-practices.yml
  .github/workflows/ci-fix.yml
  .github/workflows/claude-review.yml
  .github/workflows/code-simplifier.yml
  .github/workflows/final-pr-review.yml
  .github/workflows/issue-auto-resolve.yml
  .github/workflows/issue-hygiene.yml
  .github/workflows/issue-sweeper.yml
  .github/workflows/next-steps.yml
  .github/workflows/post-merge-docs-review.yml
  .github/workflows/post-merge-tests.yml
Due: none

fix: point E2E tests at pack directories, remove stale local inputs.yml
  k8s/base/cribl-edge-standalone/statefulset.yaml
  tests/test_sourcetypes.py
Due: kustomize-build, kubeconform, no-real-ips

fix: add probe timeouts to Stream, retarget sed to pack directory
  k8s/base/cribl-edge-standalone/scripts/install-packs.sh
  k8s/base/cribl-stream-standalone/statefulset.yaml
Due: kustomize-build, kubeconform, no-real-ips

fix: increase Stream rollout timeout to 900s
  scripts/deploy.sh
Due: no-real-ips

fix: add PQ size limits to prevent disk exhaustion
  k8s/base/cribl-edge-standalone/kustomization.yaml
  k8s/base/cribl-edge-standalone/limits.yml
  k8s/base/cribl-edge-standalone/outputs.yml
  k8s/base/cribl-edge-standalone/statefulset.yaml
  k8s/base/cribl-stream-standalone/configmap-cribl-config.yaml
  k8s/base/cribl-stream-standalone/statefulset.yaml
Due: kustomize-build, kubeconform, no-real-ips

feat: add ephemeral-storage limits and disk guardrails to prevent node DiskPressure
  k8s/base/cribl-edge-managed/statefulset.yaml
  k8s/base/cribl-edge-standalone/statefulset.yaml
  k8s/base/cribl-mcp-server/statefulset.yaml
  k8s/base/cribl-stream-standalone/statefulset.yaml
  k8s/base/heartbeat-edge/cronjob.yaml
  k8s/base/heartbeat-otel/cronjob.yaml
  k8s/base/heartbeat-splunk/cronjob.yaml
  k8s/base/otel-collector/statefulset.yaml
  k8s/base/pipeline-heartbeat/cronjob.yaml
Due: kustomize-build, kubeconform, no-real-ips

fix: patch all literal FileMonitor filenames, increase brain deadline
  k8s/base/cribl-edge-standalone/scripts/install-packs.sh
  tests/test_sourcetypes.py
Due: no-real-ips

fix: correct sed patterns to match bare YAML in pack inputs
  k8s/base/cribl-edge-standalone/scripts/install-packs.sh
Due: no-real-ips

fix: reduce cribl-mcp-server emptyDir sizeLimit to 512Mi
  k8s/base/cribl-mcp-server/statefulset.yaml
Due: kustomize-build, kubeconform, no-real-ips

fix: increase CronJob ttlSecondsAfterFinished from 120s to 600s
  k8s/base/heartbeat-edge/cronjob.yaml
  k8s/base/heartbeat-otel/cronjob.yaml
  k8s/base/heartbeat-splunk/cronjob.yaml
  k8s/base/pipeline-heartbeat/cronjob.yaml
Due: kustomize-build, kubeconform, no-real-ips

feat: add disk GC guardrails for ephemeral storage (#80)
  k8s/base/cribl-edge-managed/statefulset.yaml
  k8s/base/cribl-edge-standalone/statefulset.yaml
  k8s/base/cribl-mcp-server/statefulset.yaml
  k8s/base/cribl-stream-standalone/statefulset.yaml
  k8s/base/heartbeat-edge/cronjob.yaml
  k8s/base/heartbeat-otel/cronjob.yaml
  k8s/base/heartbeat-splunk/cronjob.yaml
  k8s/base/otel-collector/statefulset.yaml
  k8s/base/pipeline-heartbeat/cronjob.yaml
Due: kustomize-build, kubeconform, no-real-ips

fix: resolve $GEMINI_HOME in pack inputs for immediate FileMonitor startup
  k8s/base/cribl-edge-standalone/scripts/install-packs.sh
Due: no-real-ips

Path conditions:
  kustomize-build: any of: ^k8s/base/.*\.yaml$
  kubeconform: any of: ^k8s/base/.*\.yaml$
  no-real-ips: any of: \.(yaml|sh)$
