Repository JacobPEvans/kubernetes-monitoring: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubeconform, no-real-ips

kustomize-build:
  name: Validate kustomize builds
  entry: bash -c 'kubectl kustomize k8s/base/ > /dev/null'
  language: system
  pass_filenames: false

kubeconform:
  name: Validate Kubernetes schemas
  entry: bash -c 'set -o pipefail; kubectl kustomize k8s/base/ | kubeconform -strict -summary -output text'
  language: system
  pass_filenames: false

no-real-ips:
  name: Check for real IP addresses
  entry: bash -c 'if grep -rE "10\.[0-9]+\.[0-9]+\.[0-9]+" --include="*.yaml" --include="*.sh" k8s/ scripts/ docker/ 2>/dev/null; then echo "FAIL Real IP addresses found in committed files"; exit 1; fi'
  language: system
  pass_filenames: false

fix: address PR review feedback
  .cspell.json
  docs/ARCHITECTURE.md
  tests/test_forwarding.py
Due: none

fix: restore edge log pipeline — CRIBL_VOLUME_DIR, splunk_hec output, real-time tests (#32)
  .cspell.json
  docs/ARCHITECTURE.md
  k8s/base/cribl-edge-standalone/configmap-cribl-config.yaml
  k8s/base/cribl-edge-standalone/statefulset.yaml
  tests/test_forwarding.py
Due: kustomize-build, kubeconform, no-real-ips

feat: add Cribl MCP server to monitoring stack
  .claude/settings.json
  .cspell.json
  CLAUDE.md
  Makefile
  docs/ARCHITECTURE.md
  k8s/base/cribl-mcp-server/kustomization.yaml
  k8s/base/cribl-mcp-server/pdb.yaml
  k8s/base/cribl-mcp-server/service-nodeport.yaml
  k8s/base/cribl-mcp-server/service.yaml
  k8s/base/cribl-mcp-server/statefulset.yaml
  k8s/base/kustomization.yaml
  k8s/base/network-policies/allow-mcp-egress.yaml
  k8s/base/network-policies/allow-mcp-ingress.yaml
  k8s/base/network-policies/kustomization.yaml
  scripts/deploy-doppler.sh
  scripts/deploy.sh
  tests/conftest.py
  tests/test_smoke.py
Due: kustomize-build, kubeconform, no-real-ips

fix: address PR review feedback
  scripts/deploy.sh
  tests/test_smoke.py
Due: no-real-ips

fix(tests): update MCP smoke tests for Streamable HTTP transport
  tests/test_smoke.py
Due: none

fix: make MCP Doppler project/config configurable via env vars
  scripts/deploy-doppler.sh
Due: no-real-ips

feat: add Cribl MCP server to monitoring stack (#33)
  .claude/settings.json
  .cspell.json
  CLAUDE.md
  Makefile
  docs/ARCHITECTURE.md
  k8s/base/cribl-mcp-server/kustomization.yaml
  k8s/base/cribl-mcp-server/pdb.yaml
  k8s/base/cribl-mcp-server/service-nodeport.yaml
  k8s/base/cribl-mcp-server/service.yaml
  k8s/base/cribl-mcp-server/statefulset.yaml
  k8s/base/kustomization.yaml
  k8s/base/network-policies/allow-mcp-egress.yaml
  k8s/base/network-policies/allow-mcp-ingress.yaml
  k8s/base/network-policies/kustomization.yaml
  scripts/deploy-doppler.sh
  scripts/deploy.sh
  tests/conftest.py
  tests/test_smoke.py
Due: kustomize-build, kubeconform, no-real-ips

fix: enforce edge→stream→splunk architecture and fix stream CrashLoopBackOff
  .pre-commit-config.yaml
  CLAUDE.md
  docs/ARCHITECTURE.md
  k8s/base/cribl-edge-standalone/configmap-cribl-config.yaml
  k8s/base/cribl-edge-standalone/statefulset.yaml
  k8s/base/cribl-stream-standalone/configmap-cribl-config.yaml
  k8s/base/cribl-stream-standalone/service.yaml
  k8s/base/cribl-stream-standalone/statefulset.yaml
  k8s/base/network-policies/allow-edge-standalone-egress.yaml
  k8s/base/network-policies/allow-stream-ingress.yaml
  scripts/deploy.sh
Due: kustomize-build, kubeconform, no-real-ips

test: update forwarding tests for edge→stream architecture
  tests/test_forwarding.py
Due: none

fix: enforce edge→stream→splunk architecture, fix stream CrashLoopBackOff, auto-restart on deploy (#34)
  .pre-commit-config.yaml
  CLAUDE.md
  docs/ARCHITECTURE.md
  k8s/base/cribl-edge-standalone/configmap-cribl-config.yaml
  k8s/base/cribl-edge-standalone/statefulset.yaml
  k8s/base/cribl-stream-standalone/configmap-cribl-config.yaml
  k8s/base/cribl-stream-standalone/service.yaml
  k8s/base/cribl-stream-standalone/statefulset.yaml
  k8s/base/network-policies/allow-edge-standalone-egress.yaml
  k8s/base/network-policies/allow-stream-ingress.yaml
  scripts/deploy.sh
  tests/test_forwarding.py
Due: kustomize-build, kubeconform, no-real-ips

fix: make Trivy vulnerability scanning blocking in CI
  .github/workflows/validate.yml
  .trivyignore
Due: none

fix: add startup probe to cribl-edge-managed StatefulSet
  k8s/base/cribl-edge-managed/statefulset.yaml
Due: kustomize-build, kubeconform, no-real-ips

feat: add pipeline-heartbeat CronJob with dead-man's switch
  .cspell.json
  k8s/base/kustomization.yaml
  k8s/base/pipeline-heartbeat/configmap.yaml
  k8s/base/pipeline-heartbeat/cronjob.yaml
  k8s/base/pipeline-heartbeat/kustomization.yaml
  k8s/base/pipeline-heartbeat/networkpolicy.yaml
  k8s/base/pipeline-heartbeat/serviceaccount.yaml
Due: kustomize-build, kubeconform, no-real-ips

fix: add startup probe to cribl-edge-managed StatefulSet (#45)
  k8s/base/cribl-edge-managed/statefulset.yaml
Due: kustomize-build, kubeconform, no-real-ips

fix: address PR review feedback on pipeline-heartbeat
  k8s/base/pipeline-heartbeat/configmap.yaml
  k8s/base/pipeline-heartbeat/cronjob.yaml
  k8s/base/pipeline-heartbeat/networkpolicy.yaml
Due: kustomize-build, kubeconform, no-real-ips

fix: make Trivy vulnerability scanning blocking in CI (#44)
  .github/workflows/validate.yml
  .trivyignore
Due: none

refactor: replace Python heartbeat script with single curl command
  .cspell.json
  k8s/base/pipeline-heartbeat/configmap.yaml
  k8s/base/pipeline-heartbeat/cronjob.yaml
  k8s/base/pipeline-heartbeat/kustomization.yaml
  k8s/base/pipeline-heartbeat/networkpolicy.yaml
  k8s/base/pipeline-heartbeat/serviceaccount.yaml
Due: kustomize-build, kubeconform, no-real-ips

feat: pipeline heartbeat CronJob with dead-man's switch (#35)
  .cspell.json
  k8s/base/kustomization.yaml
  k8s/base/pipeline-heartbeat/cronjob.yaml
  k8s/base/pipeline-heartbeat/kustomization.yaml
  k8s/base/pipeline-heartbeat/networkpolicy.yaml
Due: kustomize-build, kubeconform, no-real-ips

fix: heartbeat uses /api/v1/health (stats API requires auth)
  k8s/base/pipeline-heartbeat/cronjob.yaml
Due: kustomize-build, kubeconform, no-real-ips

fix: heartbeat uses /api/v1/health (stats API requires auth) (#47)
  k8s/base/pipeline-heartbeat/cronjob.yaml
Due: kustomize-build, kubeconform, no-real-ips

fix: set index/sourcetype via pipeline eval, add true Splunk E2E tests
  .cspell.json
  CLAUDE.md
  docs/ARCHITECTURE.md
  docs/TESTING.md
  k8s/base/cribl-edge-standalone/configmap-cribl-config.yaml
  k8s/base/cribl-stream-standalone/configmap-cribl-config.yaml
  k8s/base/cribl-stream-standalone/statefulset.yaml
  scripts/deploy.sh
  tests/conftest.py
  tests/helpers.py
  tests/test_forwarding.py
Due: kustomize-build, kubeconform, no-real-ips

fix: preserve original source field, fall back to cribl-stream
  k8s/base/cribl-stream-standalone/configmap-cribl-config.yaml
Due: kustomize-build, kubeconform, no-real-ips

fix: address PR review feedback — robustness and test coverage
  scripts/deploy.sh
  tests/helpers.py
  tests/test_unit.py
Due: no-real-ips

fix: revert cosmetic quote changes in edge configmap
  k8s/base/cribl-edge-standalone/configmap-cribl-config.yaml
Due: kustomize-build, kubeconform, no-real-ips

fix: revert cosmetic quote changes in stream configmap
  k8s/base/cribl-stream-standalone/configmap-cribl-config.yaml
Due: kustomize-build, kubeconform, no-real-ips

fix: set index/sourcetype via pipeline eval, add true Splunk E2E tests (#48)
  .cspell.json
  CLAUDE.md
  docs/ARCHITECTURE.md
  docs/TESTING.md
  k8s/base/cribl-stream-standalone/configmap-cribl-config.yaml
  k8s/base/cribl-stream-standalone/statefulset.yaml
  scripts/deploy.sh
  tests/conftest.py
  tests/helpers.py
  tests/test_forwarding.py
  tests/test_unit.py
Due: kustomize-build, kubeconform, no-real-ips

feat(renovate): extend shared preset, remove duplicated rules
  renovate.json
Due: none

fix(renovate): fix invalid automergeType squash -> pr
  renovate.json
Due: none

fix(renovate): add groupName/groupSlug to aquasecurity rule
  renovate.json
Due: none

feat: healthchecks.io dead-man's switch integration for all components
  .cspell.json
  CLAUDE.md
  docs/ARCHITECTURE.md
  k8s/base/heartbeat-edge/cronjob.yaml
  k8s/base/heartbeat-edge/kustomization.yaml
  k8s/base/heartbeat-edge/networkpolicy.yaml
  k8s/base/heartbeat-otel/cronjob.yaml
  k8s/base/heartbeat-otel/kustomization.yaml
  k8s/base/heartbeat-otel/networkpolicy.yaml
  k8s/base/heartbeat-splunk/cronjob.yaml
  k8s/base/heartbeat-splunk/kustomization.yaml
  k8s/base/heartbeat-splunk/networkpolicy.yaml
  k8s/base/kustomization.yaml
  scripts/deploy.sh
  secrets.enc.yaml
  tests/test_forwarding.py
  tests/test_smoke.py
Due: kustomize-build, kubeconform, no-real-ips

fix: address PR review feedback - guard HC.io pings and fix docs
  CLAUDE.md
  docs/ARCHITECTURE.md
  k8s/base/heartbeat-edge/cronjob.yaml
  k8s/base/heartbeat-otel/cronjob.yaml
  k8s/base/heartbeat-splunk/cronjob.yaml
  k8s/base/pipeline-heartbeat/cronjob.yaml
  scripts/deploy.sh
  tests/test_smoke.py
Due: kustomize-build, kubeconform, no-real-ips

fix: increase rollout timeouts for edge-standalone and stream to 300s
  scripts/deploy.sh
Due: no-real-ips

fix: increase setup-edge.sh MAX_RETRIES and rollout timeout for cold starts
  k8s/base/cribl-edge-standalone/configmap-cribl-config.yaml
  scripts/deploy.sh
Due: kustomize-build, kubeconform, no-real-ips

feat: healthchecks.io dead-man's switch integration for all components (#50)
  .cspell.json
  CLAUDE.md
  docs/ARCHITECTURE.md
  k8s/base/cribl-edge-standalone/configmap-cribl-config.yaml
  k8s/base/heartbeat-edge/cronjob.yaml
  k8s/base/heartbeat-edge/kustomization.yaml
  k8s/base/heartbeat-edge/networkpolicy.yaml
  k8s/base/heartbeat-otel/cronjob.yaml
  k8s/base/heartbeat-otel/kustomization.yaml
  k8s/base/heartbeat-otel/networkpolicy.yaml
  k8s/base/heartbeat-splunk/cronjob.yaml
  k8s/base/heartbeat-splunk/kustomization.yaml
  k8s/base/heartbeat-splunk/networkpolicy.yaml
  k8s/base/kustomization.yaml
  scripts/deploy.sh
  secrets.enc.yaml
  tests/test_forwarding.py
  tests/test_smoke.py
Due: kustomize-build, kubeconform, no-real-ips

fix: heartbeat-edge K8s API health check + remove postStart hook crash loop
  .cspell.json
  k8s/base/cribl-edge-standalone/configmap-cribl-config.yaml
  k8s/base/cribl-edge-standalone/statefulset.yaml
  k8s/base/heartbeat-edge/cronjob.yaml
  k8s/base/heartbeat-edge/kustomization.yaml
  k8s/base/heartbeat-edge/networkpolicy.yaml
  k8s/base/heartbeat-edge/rbac.yaml
  scripts/generate-overlay.sh
  tests/helpers.py
  tests/test_forwarding.py
Due: kustomize-build, kubeconform, no-real-ips

refactor: consolidate CRIBL_BEFORE_START_CMD into single var with set -eu
  k8s/base/cribl-edge-standalone/statefulset.yaml
Due: kustomize-build, kubeconform, no-real-ips

test: add unit test for fileconsumer filter + fix time-dependent log check
  tests/test_forwarding.py
  tests/test_unit.py
Due: none

fix: heartbeat-edge K8s API health check + remove postStart hook crash loop (#51)
  .cspell.json
  k8s/base/cribl-edge-standalone/configmap-cribl-config.yaml
  k8s/base/cribl-edge-standalone/statefulset.yaml
  k8s/base/heartbeat-edge/cronjob.yaml
  k8s/base/heartbeat-edge/kustomization.yaml
  k8s/base/heartbeat-edge/networkpolicy.yaml
  k8s/base/heartbeat-edge/rbac.yaml
  scripts/generate-overlay.sh
  tests/helpers.py
  tests/test_forwarding.py
  tests/test_unit.py
Due: kustomize-build, kubeconform, no-real-ips

fix: correct ARCHITECTURE.md test names, add supply-chain note to CLAUDE.md
  CLAUDE.md
  docs/ARCHITECTURE.md
Due: none

Path conditions:
  kustomize-build: any of: ^k8s/base/.*\.yaml$
  kubeconform: any of: ^k8s/base/.*\.yaml$
  no-real-ips: any of: \.(yaml|sh)$
