Repository JacobPEvans/kubernetes-monitoring: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubeconform, no-real-ips

kustomize-build:
  name: Validate kustomize builds
  entry: bash -c 'kubectl kustomize k8s/base/ > /dev/null'
  language: system
  pass_filenames: false

kubeconform:
  name: Validate Kubernetes schemas
  entry: bash -c 'set -o pipefail; kubectl kustomize k8s/base/ | kubeconform -strict -summary -output text'
  language: system
  pass_filenames: false

no-real-ips:
  name: Check for real IP addresses
  entry: bash -c 'if grep -rE "10\.[0-9]+\.[0-9]+\.[0-9]+" --include="*.yaml" --include="*.sh" k8s/ scripts/ docker/ 2>/dev/null; then echo "FAIL Real IP addresses found in committed files"; exit 1; fi'
  language: system
  pass_filenames: false

fix: add urlencode and poolsize to cspell dictionary
  .cspell.json
Due: none

fix: retry sentinel visibility check for OrbStack fs propagation delay
  .cspell.json
  tests/test_sourcetypes.py
Due: none

fix: add diagnostics to brain sentinel visibility test
  tests/test_sourcetypes.py
Due: none

fix: remove || true from critical API calls in install-packs.sh
  k8s/base/cribl-edge-standalone/scripts/install-packs.sh
Due: no-real-ips

fix: fix FileMonitor patterns at pack source, remove all sed workarounds
  k8s/base/cribl-edge-standalone/scripts/install-packs.sh
  k8s/base/cribl-edge-standalone/statefulset.yaml
Due: kustomize-build, kubeconform, no-real-ips

fix: fix FileMonitor patterns at pack source, remove all sed workarounds (#83)
  k8s/base/cribl-edge-standalone/scripts/install-packs.sh
  k8s/base/cribl-edge-standalone/statefulset.yaml
Due: kustomize-build, kubeconform, no-real-ips

fix: extract wait_and_reauth helper, fix health/auth ordering, add TOKEN guard
  k8s/base/cribl-edge-standalone/scripts/install-packs.sh
Due: no-real-ips

fix: update pack URLs to v1.2.6 (Claude) and v0.2.2 (Gemini)
  k8s/base/cribl-edge-standalone/scripts/install-packs.sh
Due: no-real-ips

fix: update pack URLs to v1.2.6 (Claude) and v0.2.2 (Gemini) (#85)
  k8s/base/cribl-edge-standalone/scripts/install-packs.sh
Due: no-real-ips

chore: update Claude pack URL to v1.2.7
  k8s/base/cribl-edge-standalone/scripts/install-packs.sh
Due: no-real-ips

fix: add -x to test-e2e to fail fast on first error
  Makefile
Due: none

fix: resolve flaky E2E tests (log contamination + pipeline warmup) (#89)
  .github/workflows/e2e-tests.yml
  scripts/otel-warmup.py
  tests/test_forwarding.py
Due: none

fix: move app.kubernetes.io/component to metadata.labels in limitrange.yaml
  k8s/base/limitrange.yaml
Due: kustomize-build, kubeconform, no-real-ips

fix: increase Stream startupProbe budget to survive cold-start hostPath copy
  k8s/base/cribl-stream-standalone/statefulset.yaml
  scripts/deploy.sh
Due: kustomize-build, kubeconform, no-real-ips

feat: CPU defaults via namespace LimitRange (#90)
  .cspell.json
  k8s/base/cribl-edge-managed/statefulset.yaml
  k8s/base/cribl-edge-standalone/statefulset.yaml
  k8s/base/cribl-mcp-server/statefulset.yaml
  k8s/base/cribl-stream-standalone/statefulset.yaml
  k8s/base/kustomization.yaml
  k8s/base/limitrange.yaml
  scripts/deploy.sh
Due: kustomize-build, kubeconform, no-real-ips

fix: align pqPath with PVC mount at /opt/cribl-data/pq
  k8s/base/cribl-stream-standalone/configmap-cribl-config.yaml
Due: kustomize-build, kubeconform, no-real-ips

refactor: extract pack version variables in install-packs.sh
  k8s/base/cribl-edge-standalone/scripts/install-packs.sh
Due: no-real-ips

refactor: extract pack versions and upgrade Claude to v1.2.7 (#86)
  k8s/base/cribl-edge-standalone/scripts/install-packs.sh
Due: no-real-ips

fix: trigger E2E check on release-please PRs, skip actual run
  .github/workflows/e2e-tests.yml
Due: none

fix: remove double blank lines in CHANGELOG.md (MD012)
  CHANGELOG.md
Due: none

Path conditions:
  kustomize-build: any of: ^k8s/base/.*\.yaml$
  kubeconform: any of: ^k8s/base/.*\.yaml$
  no-real-ips: any of: \.(yaml|sh)$
